@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

img {
    max-width: 100%;
    vertical-align: top;
}

body {
    color: #333;
    background-color: #fff;
}

.wrap {
    width: 1200px;
    margin: auto;
    position: relative;
}

header {
    width: 100%;
    height: 100px;
    padding-left: 30px;
    position: relative;
}


header>a {
    width: 200px;
    height: 100%;
    align-content: center;
}

nav {
    position: absolute;
    right: 30px;
    top: 25px;
    z-index: 99;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    width: 150px;
    text-align: center;
}

nav>ul>li>a {
    height: 50px;
    align-content: center;
    background-color: #bcdcd1;
    color: #006342;
    font-weight: bold;
    font-size: 18px;
}

nav>ul>li>a.on,
nav>ul>li:hover>a {
    background-color: #ffffff;
}

.sub {
    display: none;
}

.sub>li {}

.sub>li>a {
    height: 50px;
    align-content: center;
    background-color: #ffffff;
}

.sub>li>a.on,
.sub>li:hover>a {
    background-color: #006342;
    color: #fff;
}




.slide {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.slide>ul {
    width: 100%;
    height: 300%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}

.slide>ul>li {
    width: 100%;
    height: calc(100% / 3);
}

.slide>ul>li>a {
    width: 100%;
    height: 100%;
    align-content: end;
}

.slide .s_text {
    background-color: rgb(0, 0, 0, 0.5);
    color: #fff;
    text-align: right;
    padding: 30px 50px;
}

.slide .s_text>h2 {
    font-size: 24px;
}

.slide .s_text>p {
    font-size: 20px;
    margin-top: 5px;
}

.slide .s1 {
    background: url(/img/img1.jpg) no-repeat center/ cover;
}

.slide .s2 {
    background: url(/img/img2.jpg) no-repeat center/ cover;

}

.slide .s3 {
    background: url(/img/img3.jpg) no-repeat center/ cover;

}


main {
    width: 100%;
    height: 200px;
    display: flex;
}

.cont {
    width: 400px;

}

.cont h3 {
    height: 40px;
    align-content: center;
    color: #fff;
    text-align: center;

}

.cont>ul {
    display: flex;
    position: relative;
}

.cont>ul>li {
    width: 120px;
    background-color: #bcdcd1;
}

.cont>ul>li.on {
    background-color: #006342;

}

.cont>ul>li>a {}

.cont>ul>li>a>h3 {}


.cont .notice {
    padding: 20px 10px 0;
}

.cont .notice>li {
    padding: 5px 0;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.cont .notice>li:hover {
    color: #bcdcd1;
    border-bottom: 1px solid #bcdcd1;
}

.cont .notice>li>a {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.cont .gall {
    display: none;
}

.cont .gall>ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

.cont .gall>ul>li {}

.cont .gall>ul>li>a {
    border: 1px solid #fff;
}

.tab {
    width: 100%;
    height: 160px;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #006342;
}


.banner {
    width: 400px;
    background: url(/img/banner.jpg)no-repeat center/cover;

}

.banner>a {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}

.banner>a>h3 {
    font-size: 24px;
}

.banner>a>p {
    display: inline-block;
    padding: 15px 30px;
    background-color: #006342;
    color: #fff;
    margin-top: 5px;
    border-radius: 30px;
}

.direct {
    width: 400px;
    background: url(/img/direct.jpg)no-repeat center/cover;
}

.direct>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.direct>a>h3 {
    display: inline-block;
    color: #fff;
    text-align: center;

}

.direct>a>h3>span {
    display: block;
    font-size: 40px;
    color: #b01310;
}

.direct>a>p {
    display: inline-block;
    padding: 30px 10px;
    background-color: #006342;
    color: #fff;
    margin-top: 5px;
    border-radius: 50px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #dadada;
    display: flex;
    align-items: center;
    padding: 0 30px;
    gap: 20px;

}

footer>a {
    width: 200px;
    height: 100px;
    align-content: center;
}

footer .copy {}

footer .sns {}

footer .sns>ul {
    display: flex;
    gap: 5px;
}

footer .sns>ul>li {}

.pop {
    width: 450px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #006342;
    text-align: center;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    display: none;
}

.pop>h2 {}

.pop>p {
    margin-top: 20px;
    line-height: 25px;
}

.pop .pop_off {
    cursor: pointer;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.pop .pop_off:hover {
    color: #006342;
}